@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Condensed&display=swap');

*{
    box-sizing: border-box;
}

html {background-image: url(adnanta-raharja-Wft1QrsY-8g-unsplash.jpg);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body {
    background-color: #120f2793;
    display: flex;
    flex-direction: column;
    color: silver;
    align-items: center;
    justify-items: center;
    justify-content: center;
    min-height: 85%;
    min-width: 65%;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
}

.movie-container {
    margin: 20px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.movie-container select {
    background-color: rgb(11, 41, 87);
    color: silver;
    border: 0;
    border-radius: 4px;
    font-size: 15px;
    max-width: 65vw;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    margin: 15px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.seat {
    background-color: rgb(131, 127, 127);
    height: 20px;
    width: 20px;
    margin: 6px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 4);
}

.seat.selected {
    background-color: rgb(185, 152, 163) ;
}

.seat.occupied {
    background-color: rgb(80, 13, 13);
}

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-last-of-type(2) {
    margin-left: 20px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1,2);
}

.legend {
    background-color: rgb(11, 41, 87);
    padding: 5px 10px;
    border-radius: 5px;
    color: silver ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 4);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.legend li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.legend li small {
    margin-left: 2px;
}

.legend.seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.row {
    display: flex;
}

.screen {
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
    box-sizing: 0 3px 10px rgba(255, 255, 255);
    border-radius: 5px;
}
 
p.text {
    margin: 5px 0;
    font-size: 20px;
}

p.text span {
    color: rgb(185, 152, 163);
}

a {
    text-decoration: none;
}